body {
  background-color: #16191b;
  color: #ccc;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;

}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: Roboto Mono, monospace;
}

hr {
  width: 299px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255 255 255 / 75%), rgba(0, 0, 0, 0));
  border: 0;
  height: 1px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-family: Roboto Mono, monospace;
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  padding: 150px;
}

.icons a {
  display: inline-block;
  margin: 0 0.5rem;
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.icons a:hover {
  color: #fff;
}

/*Title-Header animation*/
.titleHeader {
  animation: fadeIn 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

/*Sub-Header animation*/
.subHeader {
  animation: slideUp 1.5s ease-out .7s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    visibility: visible;
    transform: translateY(0px);
  }
}

.about {
  line-height: 28px;
  /* transform: translateY(800px);
  animation: slideUp .8s ease-in-out forwards .8s; */
  animation: fadeIn 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
  font-family: Roboto Mono, monospace;
  color: #ccc;
  background-color: #1a1d20;
  border-radius: 25px;
  padding: 1rem;

  border-style:ridge;
  border-width: 0px 5px;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: expand .8s ease forwards;
  position: relative;
  transition: all .8s ease;
  height: 1rem;
}